# scripts/create_module/templates/config.yaml.tmpl
server:
  host: "127.0.0.1"
  port: 8086
  route: "/api/auth-google"

external: true

authgoogle:
  redirecturi: "http://127.0.0.1:8000/api/auth-google/callback"
  clientid: "000-xxx.apps.googleusercontent.com"
  clientsecret: "GOCSPX-xxx"
  authurl: "https://accounts.google.com/o/oauth2/auth"
  tokenurl: "https://oauth2.googleapis.com/token"
  appredirectbase: "honvang://callback"

database:
  provider: "postgres"
  automigrate: true
  postgres:
    host: "127.0.0.1"
    port: 5432
    user: "samson_with_hair"
    password: "samson_with_hair"
    name: "lucadb"
    sslmode: "disable"