# scripts/create_module/templates/config.yaml.tmpl
server:
  host: "127.0.0.1"
  port: 9997
  route: "/api/auth-apple"

external: true

authapple:
  fallback_email_domain: "apple.honvang.com"

database:
  provider: "postgres"
  automigrate: true
  postgres:
    host: "127.0.0.1"
    port: 5432
    user: "postgres"
    password: "samson_with_hair"
    name: "lucadb"
    sslmode: "disable"